@import "tailwindcss";

/* get downloded fonts */
@font-face {
  font-family: "font1";
  src: url("./assets/fonts/font1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "font2";
  src: url("./assets/fonts/font2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-font1: "font1";
}
@theme {
  --font-font1: "font2";
}

/* centering the items */
.flex-ItemCenter {
  @apply flex items-center gap-1.5 lg:gap-2;
}
.flex-JusBetween {
  @apply flex items-center justify-between;
}
.flex-JusCenter {
  @apply flex items-center justify-center;
}

body {
  background-color: rgb(16, 16, 16);
  overflow: hidden;
}

/* edit right menu scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 7px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* removes scrollbar background */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 10px;
}


.custom-scroll2::-webkit-scrollbar{
  width: 8px;
}

.custom-scroll2::-webkit-scrollbar-track {
  background: rgb(120, 120, 120); /* removes scrollbar background */
  border-radius: 10px;
}

.custom-scroll2::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 10px;
}